.app{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.square{
  border: 1px solid black;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  
}


.board{
  display: flex;
  width: 300px;
  height: 300px;
  flex-wrap: wrap;
  border: 1px solid black;
}

.circle{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 3px solid red;
}
.cross{
 
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  position: relative
  
}
.cross::before, .cross::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: black;
  top: 50%;
  left: 0;
  transform: translateY(-50%) rotate(45deg);
}

.cross::after {
  transform: translateY(-50%) rotate(-45deg);
}



